{{ define "main" }}
  <div class="container p-3">
    <!-- <h1>{{ .Title }}</h1> -->
    {{ $menuPages := slice }}
    {{ range site.Menus.main }}
      {{ $menuPages = $menuPages | append .Page }}
    {{ end }}
    {{ if and (not (in $menuPages .)) (not .Params.hideDate) (not (eq .CurrentSection.Section "members")) }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format "2006年1月2日" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ end }}
  {{ .Content }}
  </div>
{{ end }}
